.first{
    border : 1px hidden;
    width: 800px;
    height: 1000px;
    display: block;
    float:right;
    padding: 10px;
}

button{
    float: right;
}
.odd{
    color:red;
}
.even{
    color:green;
}